---
---

<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="jquery-autoexpand : Auto-expands textareas so they grow as you type">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>jquery-autoexpand</title>

    <link rel="author" href="https://plus.google.com/u/0/114103174273569238978" />

    <link rel="canonical" href="https://www.mullie.eu/jquery-autoexpand/" />
    <meta name="description" content="Auto-expands textareas so they grow as you type" />

    <meta property="og:title" content="jquery-autoexpand" />
    <meta property="og:description" content="Auto-expands textareas so they grow as you type" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mullie.eu/jquery-autoexpand/" />
    <meta property="og:site_name" content="jquery-autoexpand" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@matthiasmullie" />
    <meta name="twitter:creator" content="@matthiasmullie" />
    <meta name="twitter:domain" content="mullie.eu" />
    <meta name="twitter:title" content="jquery-autoexpand" />
    <meta name="twitter:description" content="Auto-expands textareas so they grow as you type" />
    <meta name="twitter:url" content="https://www.mullie.eu/jquery-autoexpand/" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
      a.social-btn {
        padding-left: 10px;
      }
    </style>

    {% include demo_head.html %}

  </head>

  <body>
  {% include ga.html %}

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/matthiasmullie/jquery-autoexpand">View on GitHub</a>

          <h1 id="project_title">jquery-autoexpand</h1>
          <h2 id="project_tagline">Auto-expands textareas so they grow as you type</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/matthiasmullie/jquery-autoexpand/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/matthiasmullie/jquery-autoexpand/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {% include demo.html %}

        {% capture readme %}{% include readme.md %}{% endcapture %}
        {{ readme | markdownify }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">
          jquery-autoexpand maintained by <a href="https://www.mullie.eu">matthiasmullie</a>:
          <a href="https://twitter.com/matthiasmullie/" class="social-btn"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/matthiasmullie" class="social-btn"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/matthiasmullie" class="social-btn"><i class="fa fa-github"></i></a>
          <a href="http://stackoverflow.com/users/802993/matthiasmullie" class="social-btn"><i class="fa fa-stack-overflow"></i></a>
          <a href="https://www.mullie.eu/contact/" class="social-btn"><i class="fa fa-envelope"></i></a>
        </p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
